body {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #101010;
    color: white;
}
#map {
    width: 100%;
    height: 94%;
    background-color: #202020;
}